---
title: "코드스토브"

layout: page

permalink: /

header:
    overlay_image: /assets/images/header-2.webp
    overlay_filter: rgba(0, 0, 0, 0.1)
    caption: ""

excerpt1: "**코드스토브는 사람을 도우며, 자연을 보호하는데 필요한**"
excerpt2: "**최고의 IT 솔루션을 제공하는 것을 목표로 합니다.**"


advertisement:
    - image_path: /assets/images/iot-advertise-1.png
      alt: "IoT 광고 이미지 1"
    - image_path: /assets/images/iot-advertise-2.png
      alt: "IoT 광고 이미지 2"


gallery:
    - url: /assets/images/header.webp
      image_path: /assets/images/software-1.webp
      alt: "Performance"
      title: "Performance"
    - url: /assets/images/sydney-2.webp
      image_path: /assets/images/software-2.webp
      alt: "Stability"
      title: "Stability"
    - url: /assets/images/sydney-3.webp
      image_path: /assets/images/software-3.webp
      alt: "Expandability"
      title: "Expandability"


round-images:
    - image-path: "/assets/images/header.webp"
      size: "full"
      header: "Header 1"
      caption: "Caption 1"
    - image-path: "/assets/images/sydney-2.webp"
      size: "third"
      header: "Header 2"
      caption: "Caption 2"
    - image-path: "/assets/images/sydney-3.webp"
      size: "third"
      header: "Header 3"
      caption: "Caption 3"
    - image-path: "/assets/images/sydney-4.webp"
      size: "third"
      header: "Header 4"
      caption: "Caption 4"
    - image-path: "/assets/images/sydney-5.webp"
      size: "half"
      header: "Header 5"
      caption: "Caption 5"
    - image-path: "/assets/images/sydney-6.webp"
      size: "half"
      header: "Header 6"
      caption: "Caption 6"

image-text-row:
    - header: "관찰이 필요한 노약자를 위한 IoT"
      excerpt: "독거노인, 장애인 등 관찰이 필요한 노약자를 위한 IoT 솔루션 개발하여 <br> 사회복지기관과 서비스 기업이 원격 케어 및 관제를 할 수 있도록 제공합니다."
      image-url: "/assets/images/aiot-1.webp"
      image-width: "500px"
      image-right: false

image-text-row-two:
    - header: "산업 현장에서의 IoT"
      excerpt: "산업현장에서 여러 센서들을 통해 데이터를 수집하여 작업의 효율성을 제공하며, <br> 환경 보호를 위한 모니터링 솔루션을 제공합니다. <br><p>(한국환경공단 소규모 대기배출시설관리 측정기기 공식 설치업체)</p>"
      blank: false
      image-url: "/assets/images/aiot-2.webp"
      image-width: "500px"
      image-right: true
---

<section class="site-section first-section" id="enterprise-software">

    <h1>Enterprise Software</h1>

    <h2>Software Architecture & Development</h2>

    <p>국내 대형 금융 프로젝트 경험과 기업 연구소에서 프레임웍을 연구 개발한 소프트웨어 아키텍트가</p>
    <p>직접 설계와 개발을 주도하여 성능과 안정성, 확장성을 갖춘 품질의 소프트웨어를 제공합니다.</p>

    {% include gallery %}

</section>

<hr class="section-sep">

<section class="site-section" id="aiot">
    <h1>AIoT ( AI with IoT )</h1>

    <h2>Home, Industrial, Smart farm</h2>

    {% include image-text-row %}

    {% include image-text-row id="image-text-row-two" %}

</section>


<hr class="section-sep">


<section class="site-section" id="iot-business">
    <img src="{{ site.baseurl }}/assets/images/iot-advertise-1.png" alt="IoT 광고 이미지" style="width: 100%">
    <img src="{{ site.baseurl }}/assets/images/iot-advertise-2.png" alt="IoT 광고 이미지" style="width: 100%">
<!--   <div style="display: flex; justify-content: space-between;">
    <img src="{{ site.baseurl }}/assets/images/iot-advertise-1.png" alt="IoT 광고 이미지" style="width: 50%">
    <img src="{{ site.baseurl }}/assets/images/iot-advertise-2.png" alt="IoT 광고 이미지" style="width: 50%">
    
  </div> -->
  

</section>


<hr class="section-sep">


<section class="site-section" id="contact-us">

    <h1>Contact Us</h1>

    <h2>Email</h2>

    info@codestove.io

    <h2>Phone</h2>

    010-2410-7483

</section>
